<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-title> Currency </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-radio-group [(ngModel)]="currency">
          <ion-item>
            <ion-label>Euro</ion-label>
            <ion-radio slot="start" value="eur"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Dollar</ion-label>
            <ion-radio slot="start" value="usd"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Pound</ion-label>
            <ion-radio slot="start" value="gbp"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Dirham marocain</ion-label>
            <ion-radio slot="start" value="MAD"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Other</ion-label>
            <ion-radio slot="start" value=""></ion-radio>
            <ion-input [(ngModel)]="currency" placeholder="Symbol"></ion-input>
          </ion-item>
        </ion-radio-group>
      </ion-list>

      <ion-button  fill="outline" shape="round"  expand="full" (click)="updateCurrency()"> Update </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title> Clear Data </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Remove all data?
      <ion-button fill="outline" shape="round"  expand="full" color="danger" (click)="clearData()"
        >Clear Data</ion-button
      >
    </ion-card-content>
  </ion-card>

  <!-- <ion-card>
    <ion-card-header>
      <ion-card-title> Would you mind rating My Wallet? </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button fill="outline" shape="round"  expand="full" color="primary" (click)="showRatePrompt()">Rate Us</ion-button>
    </ion-card-content>
  </ion-card> -->

  
</ion-content>
